<footer class="container">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>

    <div class="info">
        <ul class="features">
            <li class="title">Features</li>
            <li><a href="#">Link Shortening</a></li>
            <li><a href="#">Branded Links</a></li>
            <li><a href="#">Analytics</a></li>
        </ul>
        <ul class="resources">
            <li class="title">Resources</li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <ul class="company">
            <li class="title">Company</li>
            <li><a href="#">About</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="social-medias">
            <li><a href="#"><span class="facebook"></span></a></li>
            <li><a href="#"><span class="twitter"></span></a></li>
            <li><a href="#"><span class="pinterest"></span></a></li>
            <li><a href="#"><span class="instagram"></span></a></li>
        </ul>
    </div>

</footer>
