nav{
    margin-top: 3em;
    display: flex;
    align-items: start;
    gap: var(--spacing);
    position: relative;
    ul{
        display: flex;
        gap: 36px;
    }
    .menu{
        display: none;
    }
    .nav-items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: var(--grayish-violet);
        .utilities{
            li{
                a:hover{
                    color: var(--dark-blue);
                }
            }
        }
        .account{
            align-items: center;
            button{
                font-size: 18px;
            }
            gap: 22px;
            .login{
                font-weight: 700;
                color: var(--grayish-violet);
                &:hover{
                    color: var(--dark-blue);
                }
            }
        }
    }
}

@media (max-width: 930px) {
    nav{
        justify-content: space-between;
        .menu{
            display: flex;
            font-size: 1.8em;
            color: var(--grayish-violet);
        }
        .nav-items{
            background-color: var(--primary--dark-violet);
            position: absolute;
            top: calc(100% + 1em);
            right: 0;
            width: min(400px, 100%);
            color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-inline: 1em;
            border-radius: var(--bd-radius);
            transition: all 200ms ease-in-out;
            overflow: hidden;
            ul{
                font-size: 18px;
                flex-direction: column;
                align-items: center;
                width: 100%;
                li > *{
                    padding: 9px 27px;
                }
            }
            .utilities{
                border-bottom: 1px solid rgba(128, 128, 128, 0.342);
                padding-bottom: 36px;
                li{
                    a:hover{
                        color: var(--primary-cyan);
                    }
                }
            }
            .account{
                padding-top: 36px;
                li{
                    width: 100%;
                    text-align: center;
                }
                .login{
                    color: white;
                    &:hover{
                        color: var(--primary-cyan);
                    }
                }
                .sign-up{
                    width: min(360px, 100%)
                }
            }
        }

        .nav-items[data-togglenav="true"]{
            height: 430px;
        }
        .nav-items[data-togglenav="false"]{
            height: 0px;
            visibility: hidden;
        }
    }
}