<section class="shortener container">
<div class="shorten-it">
    <div class="input-wrapper">
        <input [ngClass]="{'error' : !isLinkValid}"
         #linkInput type="text" placeholder="Shorten a link here..."
          name="shortener" id="shortener" (keyup.enter)="generateLink(linkInput.value)">

        <span *ngIf="!isLinkValid" class="invalid-search">{{error}}</span>
    </div>
    <button type="submit" class="shorten-btn" (click)="generateLink(linkInput.value)">Shorten It!</button>
</div>

<!-- shortened card -->
<div class="shortened" *ngFor="let shorten of shortenedLinks">
    <span class="main-url">{{shorten.original_url}}</span>
    <div class="shortened-wrapper">
        <span #sLink class="shortened-url">{{shorten.result_url}}</span>
        <button [cdkCopyToClipboard]="shorten.result_url" class="copy-it-btn"><span>Copy</span></button>
    </div>
</div>

</section>

