:host{
    overflow-x: hidden;
    display: block;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing);
    align-items: center;
    .info{
        h1{
            font-size: 4em;
            line-height: 1.2em;
            font-weight: 700;
        }
        p{
            font-weight: 500;
            font-size: 1.18em;
            color: var(--grayish-violet);
        }
    }
    .get-started-btn{
        margin-top: var(--spacing);
        font-size: 1em;
    }
    .illustration{
        img{
            width: 155%;
            max-width: none;
        }
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        
        font-size: clamp(.8em, 3vw, 1em);

        .info{
            text-align: center;
            grid-row: 2;
            h1{
                font-size: 2.7em;
                width: min(500px, 100%);
                margin: 0 auto;
            }
            .get-started-btn{
                font-size: 1.1em;
            }
        }
        .illustration{
            img{
                margin: 0 auto;
                width: min(600px, 120%)
            }
        }
    }
}