:host{
    display: block;
    background-color: var(--bg-gray);
}

.about-us{
    .statistics{
        text-align: center;
        padding-top: var(--spacing);
        font-size: 1.4em;
        h1{
            margin-bottom: .3em;
        }
        p{
            margin: 0 auto;
            max-width: min(30em, 100%);
            font-weight: 500;
            color: var(--grayish-violet);
            font-size: .8em;
        }
    }

    .cards{
        margin-top: calc(var(--spacing) * 3);
        display: flex;

        .card:nth-child(3){
            transform: translateY(43.5px);
        }

        .card:nth-child(5){
            transform: translateY(87px);
        }
        .card{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: white;
            padding: var(--spacing);
            padding-top: 0;
            border-radius: .5em;

            .icon{
                background-color: var(--primary--dark-violet);
                padding: 1.3em;
                border-radius: 100vh;
                transform: translateY(-50%);
            }
            .title{
                margin-bottom: .5em;
            }
            .description{
                font-size: .9em;
                color: var(--grayish-violet);
                font-weight: 500;
            }
        }
        .line{
            align-self: center;
            height: 10px;
            flex-shrink: 0;
            width: 30px;
            background-color: var(--primary-cyan);
        }
    }                               
}

@media (max-width: 800px) {
    .about-us{
        .cards{
            flex-direction: column;
            align-items: center;
            margin-top: calc(var(--spacing)*4);
            .card{
                align-items: center;
                text-align: center;
                transform: none !important;
            }

            .line{
                width: 10px;
                height: 90px;
            }
        }


    }

}